:root{
    --color-bg : #fff;
    --color-text: #000;
    --font: 'Space Grotesk';
    --dark: #191A23;
}
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: var(--font);
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
@media(max-width: 767px){
  main{
    padding: 0 20px !important;
  }
  .banner-half-text{
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 55%;
  }
  .caption .description{
    position: absolute;
    bottom: 50px;
  }
  .caption .cta{
    position: absolute;
    bottom: -5%;
  }
}
@media(max-width: 992px){
    header{
        padding: 10px 20px !important;
        display: inline-flex;
        padding: 0px 20px;
        align-items: center;
    }
    .logo{
        width: 144px;
    }
   
    .hide-sm{
        display: none !important;
    }

}
@media(min-width: 992px){
    
    .hide-lg{
        display: none !important;
    }
}
header{
    justify-content: space-between;
    padding: 0 5rem;
    max-width: 1240px;
    margin: 0 auto;
}
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header-menu ul{
    gap: 40px;
}
.header-menu ul li{
    color: var(--color-text);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.header-menu button{
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    border: 1px solid var(--dark, #191A23);
    font-size: 20px;
}
.mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    bottom: 0;
    box-shadow: 0px 0px 2px 1px;
    overflow: hidden;
    padding: 30px;
    min-width: 250px;
    transition-duration: .5s;
    z-index: 999;
    background-color: aliceblue;;
}
.mobile-menu{
    transform: translateX(-101%);
}
.mobile-menu.active{
    transform: translateX(0);
}
.mobile-menu li{
    color: var(--color-text);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    padding: 10px;
}
.overlay{
    display: block; /* Hide the overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    z-index: -1; /* Set a z-index below the mobile menu */
    opacity: 0;
    transition: opacity .5s;
  }
  .mobile-menu.active + .overlay{
    display: block;
    opacity: 1;
    z-index: 1;
  }
  main{
    justify-content: space-between;
    padding: 0 5rem;
    max-width: 1240px;
    margin: 0 auto;
  }
  .banner-half-text{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  .caption{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .banner{
    max-width: 600px;
  }
  .heading h1{
    color: #000;
/* h1 */
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .description p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
  .cta{
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: var(--dark, #191A23);
    max-width: 260px;
  }
  .cta a{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
  .brand-logos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 140px;
    margin-top: 70px;
  }
  .brand-logo img{
    mix-blend-mode: luminosity;
  }
 
  .Section-heading{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 80px;
  }
  .service .section-title{
    display: flex;
    padding: 0px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    background: var(--green, #B9FF66);
  }
  .section-title h1{
    font-size: 40px;
    font-family: var(--font);
  }
  .section-subtitle{
    max-width: 580px;
  }
  .section-subtitle .subtitle{
    color: #000;
/* p */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .service-inner-main{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .card-row{
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  .service-card{
    width: 600px;
    padding: 50px;
    display: flex;
    align-items: center;
    border-radius: 45px;
    border: 1px solid var(--dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
    max-width: 50%;
    justify-content: space-between;
  }
  .service-card.green{
    background: var(--green, #B9FF66);
  }
  .service-card.grey{
    background: var(--grey, #F3F3F3);
  }
  .service-card.dark{
    background: var(--dark, #191A23);
  }
  .card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 93px;
  }
  .card-title{
    color: #000;
/* h3 */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 200px;
  }
  .card-link{
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .card-link p{
    color: var(--black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
  .card-title span{
    padding: 0px 7px;
    border-radius: 7px;
  }
  .card-title span.green{
    background: var(--green, #B9FF66);
  }
  .card-title span.white{
    background-color: #fff;
  }
  .cta-image{
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 99999;
    transform: translateY(-50%);
  }
  .half-image{
    width: 50%;
    position: relative;
  }
  .image-w-text{
    display: flex;
    max-width: 1240px;
    padding: 0 60px;
    justify-content: space-between;
    margin-top: 100px;
    background: #F3F3F3;
    border-radius: 45px;
    height: 375px;
    align-items: center;
    margin-bottom: 140px;
  }
  .text-cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    max-width: 500px;
  }
  .text-cta h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text-cta .section-subtitle{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text-cta .btn-cta{
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: var(--dark, #191A23);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 140% */
  }
  .case-studies{
    margin-bottom: 140px;
  }
  .Section-heading .section-title .title{
    background-color: #B9FF66;
    display: flex;
    padding: 0px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
  }
  .cs-inner-main{
    display: flex;
    padding: 70px 60px;
    align-items: flex-start;
    gap: 64px;
    border-radius: 45px;
    background: var(--dark, #191A23);
    align-items: center;
  }
  .case-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .case-block p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .line{
    width: 1px;
    height: 186px;
    background-color: #fff;
  }
  .case-btn{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .case-btn p{
    color: #B9FF66;
    font-size: 20px;
  }
  .wf-accordion .section-subtitle{
    max-width: 268px;
  }
  .faq-tab{
    display: flex;
    padding: 41px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .none{
    display: none;
  }
  .acc-title{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 20px;
    background: #ccc;
    width: 100%;
  }
  .collapsed-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  input[type="checkbox"]:checked ~ .collapsed-content {
    max-height: 100px; /* Adjust the height as needed */
  }
/* Apply basic styles to the tabs */
.accordion-inner{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.accordion {
  display: flex;
  max-width: 77.125rem;
  padding: 2.5625rem 3.75rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px 0px #191A23;
  transition: background-color 0.3s ease-in-out;
}
.tab{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab h1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.tab h1 span{
  font-size: 60px;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.accordion.active .content{
  padding-top: 30px;
  border-top: 1px solid #000;
}
.accordion.active{
  background-color: var(--green, #B9FF66);
}
.accordion .icon::before {
  content: '';
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  background: url("img/Plus\ icon\ \(1\).svg");
  width: 58px;
  height: 58px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
}
.accordion.active .icon::before {
  content: '';
  height: 58px;
  width: 58px;
  background: url('img/Plus\ icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.accordion .content p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion h1{
  transition-duration: .3s;
}
.accordion.active .tab{
  padding-bottom: 30px;
}
.wf-accordion{
  margin-bottom: 140px;
}
.team-card{
  display: flex;
  max-width: 25%;
  padding: 2.5rem 2.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  border-radius: 2.8125rem;
  border: 1px solid #191A23;
  background: #FFF;
  box-shadow: 0px 5px 0px 0px #191A23;
  
}
.team-member{
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  width: 100%;
  position: relative;
}
.profile-img img{
  filter: drop-shadow(4px 1px 0px rgba(15,0,0, 1));
}
.profile-badge{
  position: absolute;
  top: 0;
  right: 0;
}
h5.fullname, h5.professional-title{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.border{
  width: 100%;
  height: 1px;
  background-color: #191A23;
}
.m-dsc{
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.team-row{
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.more-btn .btn{
  padding: 1.25rem 2.1875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.875rem;
  background: var(--dark, #191A23);
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 2.5rem;
}
.more-btn{
  display: flex;
  justify-content: flex-end;
}
.team-section{
  margin-bottom: 140px;
}
.ts-slide{
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
.slick-track{
  display: flex !important;
  justify-content: center;
  gap: 50px;
 
}
.review{
  padding: 48px 52px ;
  border: 1px solid #B9FF66;
  border-radius: 60px;
  position: relative;
}
.testimonials-inner{
  padding: 84px 0px 68px 0px;
  align-items: center;
  border-radius: 45px;
  background: var(--Dark, #191A23);
}
.review p{
  color: #fff;
  font-size: 18px;
}
.reviwer{
  padding: 0 52px
}
.reviwer h5{
  color: #B9FF66;
  font-size: 20px;
}
.reviwer h5 span{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.slick-dots{
  bottom: -80px !important;
}
.slick-dots li button:before{
  font-size: 10px !important;
  color: #fff !important;
  opacity: .75;
}
.slick-dots li.slick-active button:before{
  color: #B9FF66 !important
}
.testimonials{
  margin-bottom: 140px;
}
.contact-inner{
  display: flex;
  max-width: 77.5rem;
  padding: 3.75rem 6.25rem 5rem 6.25rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
}
.contact-inner form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.input-group{
  display: flex;
  align-items: flex-start;
  gap: 2.1875rem;
}
.name-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
}
#message{
  display: flex;
  max-width: 34.75rem;
  padding: 1.125rem 1.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
}
.name-group input, .name-group textarea{
  display: flex;
  max-width: 34.75rem;
  padding: 1.125rem 1.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  width: -webkit-fill-available;
}
.contact-inner{
  position: relative;
  overflow: hidden;
  border-radius: 2.8125rem;
background: var(--Grey, #F3F3F3);
}
.con-img{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.contact-form{
  width: 100%;
}
.name-group div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.name-group,
.name-group div{
  width: 100%;
  max-width: 34.75rem;

}
.name-group input, .name-group textarea{
  border-radius: 14px;
border: 1px solid #000;
background: #FFF; 
}
.submit-btn{
  display: flex;
  max-width: 34.75rem;
  align-items: flex-start;
  gap: 0.625rem;
  width: -webkit-fill-available;
}
.submit-btn button{
  display: flex;
  max-width: 556px;
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: -webkit-fill-available;
  border-radius: 14px;
  background: var(--Dark, #191A23);
  color: #FFF;
}
#message{
  min-height: 150px;
}
.contact-us{
  margin-bottom: 140px;
}
.footer-inner{
  display: flex;
  padding: 3.4375rem 3.75rem 3.125rem 3.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  border-radius: 45px 45px 0px 0px;
  background: var(--Dark, #191A23);
}
.footer-top{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.125rem;
}

.footer-bottom{
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.footer-menu-logo{
  display: flex;
  max-width: 70.0625rem;
  align-items: center;
  gap: 9.6875rem;
}
.foter-logo{
  max-width: 180px;
}
.footer-menu{
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}
.footer-icon{
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer-contact-sub{
  display: flex;
  align-items: flex-start;
  gap: 154px;
}
.footer-contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-sub form{
  display: flex;
  padding: 58px 40px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 14px;
  background: #292A32;
}
.footer-sub input{
  display: flex;
  width: 285px;
  padding: 22px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #FFF;
}
.footer-sub button{
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  background: var(--Green, #B9FF66);
}
.footer-border{
  height: 1px;
  background-color: #FFF;
  width: 100%;
}
.footer-link, .footer p, .footer a, .footer h4, .footer span{
  color: #FFF;
  /* p */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer button{
  color: var(--Black, #000);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}